{% extends "base.html" %}
{% load static %}
{% block page_content %}
<nav class="navbar navbar-expand-lg fixed-top navbarScroll navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand">Yegor Stepanov</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
        </div>
    </div>
</nav>
<section class="bgimage" id="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
                <h2 class="hero_title">Yegor Stepanov</h2>
                <p class="hero_desc">My homepage</p>
            </div>
        </div>
    </div>
</section>

<!-- portfolio section-->

<section id="projects">
    <div class="container mt-3">
        <h1 class="text-center">Projects</h1>
        {% for project_row in project_rows %}

        <div class="row">
            {% for project in project_row %}
            <div class="col-lg-4 mt-4">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ project.image }}" alt="{{ project.title }}" style="width:100%">
                    <div class="card-body">
                        <a href="{{ project.url }}" target="_blank"><h4 class="card-title">{{ project.title }}</h4></a>
                        <p class="card-text">{{ project.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>

<!-- contact section-->
<section id="contact">
    <div class="container mt-3 contactContent">
        <h1 class="text-center">Contact Me</h1>

        <div class="row mt-4">
            <div class="col-lg-6">
                <!-- to edit google map goto https://www.embed-map.com type your location, generate html code and copy the html  -->
                <div style="overflow:hidden;resize:none;max-width:100%;width:500px;height:500px;">
                    <div id="canvas-for-googlemap" style="height:100%; width:100%;max-width:100%;">
                        <iframe style="height:100%;width:100%;border:0;" src="https://www.google.com/maps/embed/v1/place?q=London,+UK&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
                    </div>
                    <style>#canvas-for-googlemap img.text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style>
                </div>
            </div>

            <div class="col-lg-6">
                The best way to contact me is to drop an e-mail at
                <script>document.write(' ' + '<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'&'+'#'+'1'+'0'+'9'+';'+'a'+'i'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+
                    'y'+'e'+'&'+'#'+'1'+'0'+'3'+';'+'o'+'r'+'&'+'#'+'6'+'4'+';'+'y'+'s'+'t'+'e'+'&'+'#'+'1'+'1'+'2'+';'+
                    '&'+'#'+'3'+'7'+';'+'6'+'&'+'#'+'4'+'9'+';'+'%'+'&'+'#'+'5'+'4'+';'+'&'+'#'+'6'+'9'+';'+'o'+'&'+'#'+
                    '1'+'0'+'2'+';'+'f'+'&'+'#'+'4'+'6'+';'+'n'+'e'+'t'+"'"+'>'+'y'+'e'+'g'+'o'+'r'+'&'+'#'+'6'+'4'+';'+
                    'y'+'&'+'#'+'1'+'1'+'5'+';'+'t'+'&'+'#'+'1'+'0'+'1'+';'+'p'+'a'+'n'+'&'+'#'+'1'+'1'+'1'+';'+'f'+'f'+
                    '&'+'#'+'4'+'6'+';'+'&'+'#'+'1'+'1'+'0'+';'+'e'+'t'+'<'+'/'+'a'+'>' + '.');
                </script>
                <noscript>[Turn on JavaScript to see the email address]</noscript>
                Alternatively, you can use the following form [not active at the moment]:


                <!-- form fields -->
                <form id="contactForm">
                    <input name="contactName" type="text" class="form-control mt-3" placeholder="Name">
                    <input name="contactEmail" type="email" class="form-control mt-3" placeholder="Email">
                    <div class="mb-3 mt-3">
                        <textarea name="contactMessage" class="form-control" rows="5" id="comment" name="text" placeholder="Your message"></textarea>
                    </div>
                </form>
                <button id="contactButton" type="button" class="btn btn-success mt-3">Send</button>
            </div>

        </div>
    </div>
</section>
 <!-- footer section-->
<footer id="footer">
    <div class="container-fluid">
        <!-- social media icons -->
        <div class="social-icons mt-4">
            <a href="https://www.instagram.com/ystepanoff" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com/ystepanoff" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/yegor-stepanov/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</footer>

<script>
    $(document).ready(function() {
        $(".mr-auto .nav-item").bind( "click", function(event) {
            var clickedItem = $( this );
            $( ".mr-auto .nav-item" ).each( function() {
                $( this ).removeClass( "active" );
            });
            clickedItem.addClass( "active" );
        });

        $("#contactButton").click(function () {
            alert("Coming soon");
        });
    });
</script>
{% endblock %}
